.logo-container
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .loading-logo
        z-index: 2
        width: 25%
        height: 25%
        animation: spin 5000ms linear infinite

    .loading-countdown
        position: absolute
        bottom: 0
        left: 0
        z-index: 2

@keyframes spin
    from
        transform: rotateY(0deg)

    to
        transform: rotateY(360deg)
